<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<title>Planet Server</title>
		<link rel="Shortcut Icon" href="/static/images/favicon.ico" type="image/x-icon" />
		
		<link rel="stylesheet" href="/static/dist/css/f6fb307d.main.css">

		<link rel="stylesheet" href="/static/ole/theme/geosilk/geosilk.css" type="text/css" />

		<link rel="stylesheet" href="/static/dist/css/692c9020.main2.css">

<!-- 		<link rel="stylesheet" href="/static/extjs/resources/ext-theme-classic/ext-theme-classic-all.css"/>
 -->
		<link rel="stylesheet" href="/static/extjs/resources/my-custom-theme/my-custom-theme-all.css"/>
    
		
	</head>
	<body>
		<h1 class="loadingScreen">LOADING...</h1>
		<div id="mainBlock" margin: 20px padding: 40px;>
			<div id="div_topImageBlock">
			</div>

			<div id="div_topBlock">
			</div>
			
			<div id="div_centerBlock">
				<div id="map">
				</div>

				<div id="output" height="500">
				</div>


				<div id="about" style="display:none">
					<div id="title-wrapper">
						<div id="title">ABOUT</div>
					</div>
					<div id="close-wrapper">
						<a href="javascript:void(0)" onclick="toggleDisplay('about')">X</a>
					</div></br></br>
					<div id="about-text">
					</div>
					<div id="wrapper1">
					    <ul class="tabs1">
						   <li class="first"><a href="javascript:void(0)" class="defaulttab1" rel="tabs11">PlanetServer</a></li>
						   <li><a href="javascript:void(0)" rel="tabs12">Developers</a></li>
						   <li><a href="javascript:void(0)" rel="tabs13">Software</a></li>
						   <li><a href="javascript:void(0)" rel="tabs14">Data</a></li>
					    </ul>		 
				    <div class="tab-content1" id="tabs11"><div id="planetServer"><br><a href="http://blog.planetserver.eu/?page_id=2" target="_new" style="color: black;font-size: 20px;">blog.planetserver.eu</a></div></div>
					    <div class="tab-content1" id="tabs12"><div id="developers">TBA</div></div>
					    <div class="tab-content1" id="tabs13"><div id="software">TBA</div></div>
					    <div class="tab-content1" id="tabs14"><div id="data">TBA</div></div>
					</div>
				</div>


					<div id="tutorial" style="display:none">
						<div id="title-wrapper">
							<div id="title">TUTORIAL</div>
						</div>
						<div id="close-wrapper">
							<a href="javascript:void(0)" onclick="toggleDisplay('tutorial')">X</a>
						</div></br></br>
					</div>
					<div id="toc" style="display:none">
						<div id="title-wrapper">
							<div id="title">TABLE OF CONTENTS</div>
						</div>
						<div id="close-wrapper">
							<a href="javascript:void(0)" onclick="toggleDisplay('toc')">X</a>
						</div></br></br>
						<div id="layerswitcher"></div>
						<div id="dimensions"></br></div>
					</div>

					<div id="downloadChartDivId">
						<!--
						<span>ciao Pippo</span>
						-->
					</div>

					<div id="spectra" style="display:none">
						<div id="title-wrapper">
							<div id="title">DIAGRAMS</div>
						</div>
						<div id="close-wrapper">
							<a href="javascript:void(0)" onclick="toggleDisplay('spectra')">X</a>
						</div></br>
						<div id="wrapper">
							<button id="toggler2" onclick="toggle2(this);return false;">ZOOM</button>
							<span id="spectrum_download">You must have Flash 10 installed to download this file.</span>
						    <ul class="tabs">
							   <li class="first"><a href="javascript:void(0)" class="defaulttab" rel="tabs1">Spectrum</a></li>
							   <li><a href="javascript:void(0)" class="histtab" rel="tabs2">Histogram</a></li>
							   <li><a href="javascript:void(0)" class="crosstab" rel="tabs3">Cross Section</a></li>
						    </ul>
						    <div class="tab-content" id="tabs1">
						    	<div id="chartPlace">
						    	</div>
						    	<select name="spectrallibrary" id="spectrallibrary" size=1>
					                    <option value="selectlibrary">Select Library</option>
					                    <option value="all_sulfates_resamp">All sulfates</option>
					                    <option value="carbonate">Carbonates</option>
					                    <option value="inosil">Inosilicates</option>
					                    <option value="meteor">Meteor</option>
					                    <option value="moon">Moon</option>
					                    <option value="nesosil">Nesosilicates</option>
					                    <option value="nitrates">Nitrates</option>
					                    <option value="oxide">Oxides</option>
					                    <option value="phosphate">Phosphates</option>
					                    <option value="phylosil">Phyllosilicates</option>
					                    <option value="rocks">Rocks</option>
					                    <option value="RT_resamp">Rio Tinto materials measured in RELAB</option>
					                    <option value="sorosil">Sorosilicates</option>
					                    <option value="sulfate">Sulfates</option>
					                    <option value="synth">Synth</option>
					                    <option value="tectosil">Tectosilicates</option>
					                    <option value="unconsolidated">Unconsolidated</option>
					                </select>
						    	<input type="button" name="loadlibrary" id="loadlibrary" value="Load"/>
						    	<span id="afterload"/></div>
						    </div>
						    <div class="tab-content" id="tabs2">
						    	<div id="histPlace">
						    	</div>
						    	<select name="nrbins" id="nrbins" size=1>
					                    <option value="10">10</option>
					                    <option value="20">20</option>
					                    <option value="30">30</option>
					                    <option value="40">40</option>
					                    <option value="50">50</option>
					                    <option value="60">60</option>
					                    <option value="70">70</option>
					                    <option value="80">80</option>
					                    <option value="90">90</option>
					                    <option value="100">100</option>
					                </select>
						    	<input type="button" name="histcalc" id="histcalc" value="Histogram"/>
						    </div>
						    <div class="tab-content" id="tabs3">
						    	<div id="crossPlace">
						    	</div></br>
						    </div>
					</div>
					<div id="query" style="display:none">
					    <div id="title-wrapper">
					        <div id="title">CONSOLE</div>
					    </div>
					    <div id="close-wrapper">
					        <a href="javascript:void(0)" onclick="toggleDisplay('query')">X</a>
					    </div></br></br>
					    <div id="console" class="console"></div></br>
					    <a id = "saveCheckId" href="javascript:void(0)">Save for GIS: <input type="checkbox" id="savecheck" /></a>
					</div>

					<div id="mapStatus">
						<div id="mapOutput"></div>
					</div>

			     <script type="text/javascript">
				 function sliderChange(newValue)
				 {
				     document.getElementById("range").innerHTML=newValue;
				     $('#slider').attr('scale',"1 " + newValue + " 1");
				     var trans = (250*newValue)-250;
				     $('#slider').attr('translation',"0 " + trans + " 0");
				 }
			     </script>
			</div>
			
			<div id="div_bottomBlock">
			</div>
		</div> <!-- end mainBlock--> 		
		<!-- New Client X3D -->
		<div id='container'></div>

		<div id='container_bandratio'></div>

		<!-- // <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
		
		<script src="/static/dist/js/885088bc.vendor.js"></script>
		
		
		<script type="text/javascript" src="/static/ole/lib/loader.js"></script>
		<script type="text/javascript" src="/static/ole/lib/Editor/Lang/en.js"></script>
		<!-- X3D -->
		<!--<script type="text/javascript" src="/static/js/x3d/js-ext/jquery-ui/jquery-1.9.1.js"></script>-->
		<script type="text/javascript" src="/static/js/x3d/js-ext/jquery-ui/ui/jquery-ui.js"></script>
		<script type="text/javascript" src="/static/js/x3d/js-ext/x3dom-full.js"></script>
		<script type="text/javascript" src="/static/js/x3d/js/EarthServerClient.js"></script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-42984080-1', 'planetserver.eu');
			ga('send', 'pageview');
		</script>
		<script>
			function addX3D() {
				var x3d = document.getElementById("x3dom");
				if (x3d && x3d.parentNode)
					x3d.parentNode.removeChild(x3d);
				
				document.getElementById('container').innerHTML =
				'<div id="x3dom">'+
					'<div id="progressbar"></div>'+
					'<X3D id="x3d" showlog="false" showstat="false">'+
						'<scene id="x3dScene">'+
							'<group id="root">'+
								'<group id="theScene" DEF="theScene"></group>'+
							'</group>'+
						'</scene>'+
					'</X3D>'+
					'<div id="x3domUI"></div>'+
				'</div>';
				
				x3dom.reload();
			}
		</script>
	</body>
</html>